apiVersion: v1
kind: Service
metadata:
  name: iris-api-service
spec:
  type: LoadBalancer
  selector:
    app: iris-api
  ports:
    - port: 80
      targetPort: 8200   # must match containerPort in Deployment
      protocol: TCP

